<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :input %><br>
    <%= f.text_field :input %>
  </div>

  <div class="field">
    <%= f.label :from %><br>
    <%= f.select(:from, options_for_select(LANGUAGE_LIST)) %>
  </div>
 
  <div class="field">
    <%= f.label :to %><br>
    <%= f.select(:to, options_for_select(LANGUAGE_LIST[1...46])) %>
  </div>

  <div class="actions">
    <%= f.submit "Translate" %>
  </div>
<% end %>
