<p>
  <strong>Input text:</strong>
  <%= @user.input %>
</p>

<p>
  <strong>From :</strong>
  <%= @user.from %>
</p>

<p>
  <strong>To :</strong>
  <%= @user.to %>
</p>

<p>
  <strong>Translated text :</strong>
  <%= @user.output %>
</p><br><br>

<%= button_to "BACK", translate_path, :method => "get" %>